@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family:'poppins', sans-serif;
}

.header__navbarlist, .header__navbar__link, .header__cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: purple;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px;
}

.header__logo {
    cursor: pointer;
}

.header__navbar {
    list-style: none;
}

.header__navbar, .header__navbar__list {
    display: inline-block;
    padding: 0px 20px;
}

.header__navbar, .header__navbar__list, .header__navbar__link {
    transition: all 0.3s ease 0s;
}

.header__navbar, .header__navbar__list, .header__navbar__link:hover {
    color: rgb(236, 15, 100);
}

.header__cta {
    padding: 9px 25px;
    margin-left: 400px;
    background-color: white;
    color: black;
    box-shadow: 0 1px 10px 0 white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}

.header__cta:hover {
    background-color: rgb(238, 58, 88);
}

.content__container {
    display: flex;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
}

.content__left {
    width: 25%;
}

.content__title {
    font-size: 40px;
    font-weight: 800;
    color: black;
}

.content__details {
    font-size: 14px;
    color:black;
    font-weight: 400;
    margin: 30px 0;
}

.content__cta {
    padding: 15px 30px;
    background-color:#9E69E1;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 400;
    font-size: 14px;
    border-radius: 50px;
}

.second__content {
    display: flex;
    justify-content: flex-start;
    margin: 60px 80px;
    background-color: pink;
    border-radius: 100px;
}

.second__content__img {
    padding-left: 15px;
}

.right__content__title {
   margin-left: 40px;
    font-size: 30px;
    margin-top: 50px;
}

.right__content {
    margin: 50px 25px;
    font-size: 14px;
    font-weight: 400;
}

.text__box {
    width: 25%;
    position: absolute;
    margin-top: 20px;
    left: 40%;
    text-align: center;
    
}

.text__box .text__title {
    font-size: 25px;
    font-weight: 600;
}

.text__box .text__content {
    margin: 10px 0 40px;
    font-size: 14px;
}
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.container {
    position: relative;
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}

.container .card {
    position: relative;
    margin: 10px;
    max-width: 450px;
    padding: 15px;
    border-top-left-radius: 1500px;
    border-bottom-left-radius: 85px;
    border-top-right-radius: 85px;
    display: flex;
}

.container .card .content__img {
    max-width: 200px;
    flex: 0 0 200px;
}

.container .card .content__img img {
  max-width: 100%;
}

.container .card .container__details {
    margin-left: 20px;
}

.container__details h4{
    padding-top: 15px 0;
    margin-bottom: 15px;
    font-size: 20px;
}

.container__details p{
    font-size: 14px;
    margin-bottom: 15px;

}

.container__btn {
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: none;

}
#card--one {
    background-color: rgb(231, 247, 244);
}

#card--two {
    background-color: #f5eefd;
}

#card--three {
    background-color: #FCEFF8;
}

#card--four {
    background-color: rgb(236, 241, 253);
}

.test__title {
    margin-left: 20px;
}
.testimonials { 
display: flex;
justify-content: space-between;
align-items: center;
}

.testimonials .test__card {
    display: flex;
    padding: 25px 10px;
    margin: 8px;
    background-color: #fff;
    border-radius: 10px;
}

.test__card p {
font-size: 14px;
}

.test__section {
    background-color: #9E69E1;
    min-height: 20vh;
    margin: 10%;
    padding: 80px 35px;
    border-radius: 20px;
}

.test__title h3 {
font-size: 14px;
font-weight: 400;
}

.test__title {
    color: #fff;
    margin-bottom: 50px;
}

.footer__container {
    margin-left: 8%;
    padding-top: 35px;
}

.footer__card {
    display: flex;
    justify-content: flex-start;

}

.footer__btn {
    margin: 0 0 0 100px;

}

.footer__btn button {
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
    border-radius: 20px;
}

.btn-1 {
    background-color: #9E69E1;
    padding: 12px;
    
}

.btn-2 {
    background-color: rgb(226, 28, 61);
    padding: 15px
}

.footer__navbar {
   padding: 30px 20px;
   margin: 30px;
}

.navbar__container {
    max-width: 1000px;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
   width: 25%;
   padding: 0 60px;
}

.footer-col h4 {
font-size: 16px;
color:blueviolet;
margin-bottom: 35px;
text-transform: capitalize;
font-weight: 500;
position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    height: 2px;
    box-sizing: border-box;
    width: 30px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(37, 30, 95);
    font-weight: 300;
    color: #0f0606;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
color: rgba(55, 24, 168, 0.151);
padding-left: 10px;
}

.footer-col .social-links a {
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(120, 119, 126, 0.692);
margin: 0 15px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color:#fff;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #0f0606;
    background-color: beige;
}

/* Responsive style */

@media screen and (max-width: 770px) {
    .header .header__cta {
        font-size: 14px;
    }
        .second__content {
            margin: 20px 80px;
        }

        .container {
            flex-direction: column;
        }
        .footer-col {
            width: 25%;
            padding: 0 60px;
         }

    }

    @media (max-width: 574px){
     .footer-col {
            width: 50%;
}

    .testimonial .test__card {
    padding: 25px 10px;
    margin: 8px;
}
     .container .card {
        margin: 10px;
        max-width: 300px;
        padding: 15px;  
     }

     .second__content {
        margin: 60px 80px;
     }

     .content__container {
        height: calc(100% - 100px);
    }
    
    .content__left {
        width: 15%;
    }

    .header {
        padding: 30px 10px;
    }

    }

    @media (max-height: 570px) and (max-width: 770px) {

        .header__navbar > .header__navbar__list > .header__navbar__link {
            padding: 0px 20px;
        }

    }